/* General Styling */

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    background-color: #333D79;
    color: #FAEBEF;
}

fieldset {
    border: none;
}

input[type='text'], input[type='number'] {
    height: 2rem;
    text-align: center;
    border-radius: 20px;
    color:#333D79;
    border: 2px solid #FAEBEF;
}

button {
    color: #FAEBEF;
    background-color: #333D79;
    border: 2px solid #FAEBEF;
    border-radius: 20px;
    padding: 25px;
    font-size: 1.5em;
    cursor: pointer;
}

button:hover {
    color: #333D79;
    background-color: #FAEBEF;
    border: 2px solid #333D79;
    transition: background-color 0.5s; color: 0.5s; border: 0.5s;
}

.container {
    display: flex;
    justify-self: center;
    width: 75vw;
    height: 85vh;
    border: 2px solid #FAEBEF;
}

.hide {
    display: none;
}

/* Main Menu Styling */

#main_menu {
    display: grid;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: stretch;
    grid-template-areas:
        "game_header game_header"
        "player      settings"
        "player      settings"
        "game_start  game_start"
    ;
}

.game_header {
    grid-area: game_header;
    font-size: 3.5em;
    font-weight: bold;
    align-content: center;
    text-align: center;
}

.player {
    grid-area: player;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.settings {
    grid-area: settings;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.game_start {
    grid-area: game_start;
    align-content: center;
    text-align: center;
}

/* Game Screen */
#game_screen {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 80fr 20fr;
    grid-template-areas:
        "question timer"
        "question score"
        "options options"
        "options options"
}

.question_text {
    grid-area: question;
}

.timer {
    grid-area: timer;
    display: flex;
    justify-self: center;
    align-self: center;
}

.timer_circle {
    padding: 25px;
    border: 2px solid #FAEBEF;
    border-radius: 50%;
}

.score {
    grid-area: score;
    display: flex;
    justify-self: center;
    align-self: center;
}

.options {
    grid-area: options;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
