* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

fieldset {
    border: none;
}

input[type='text'], input[type='number'] {
    text-align: center;
}

.container {
    display: flex;
    justify-self: center;
    width: 50vw;
    height: 75vh;
    border: 2px solid black;
}

#main_menu {
    display: grid;
    width: 100%;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        "game_header game_header"
        "player      settings"
        "player      settings"
        "game_start  game_start"
    ;
};

.game_header {
    grid-area: game_header;
}

.player {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    grid-area: player;
}

.settings {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    grid-area: settings;
}

.game_start {
    grid-area: game_start;
    align-self: center;
    justify-self: center;
}